{% macro input(name, label, value = null, options = []) %}
    <div class="form-group {{ options.class }}">
        <label for="{{ name }}">{{  label }}</label>
        <input type="{{ options.type ?: 'text' }}"
               class="form-control"
               id="{{ name }}"
               name="{{ name }}"
               value="{{ value }}"/>
    </div>
{% endmacro %}

{% macro textarea(name, label, value=null, options = [] ) %}
    <div class="form-group {{  options.class }}">
        <label for="{{ name }}">{{ label }}</label>
        <textarea type="text" class="form-control" id="{{ name }}" rows="3" cols="2000">{{ value }}</textarea>
    </div>
{% endmacro %}

{% macro select(name, label, values = [], required=null, options = [] ) %}
    <div class="form-group {{  options.class }}">
        <label for="{{ name }}">{{ label }}</label>
        <select id="{{ name }}" class="custom-select form-control", required="{{ required }}">
            <option value="0">Choisir ...</option>
            {%  for option in values.options %}
                <option value="{{ option.id }}">{{ option.libelle }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro lstCheckbox( label, values=[], name, nbCol ) %}
<div class="form-group">
    <p> {{ label }} </p>
    <div class="multicol-{{ nbCol }}">
        {%  for value in values.options %}
            <div>
                <input class="form-check-input"
                       type="checkbox"
                       name="{{ name }}"
                       id="{{value.id}}"
                       value="{{ value.id }}">
                <label class="form-check-label" for="{{value.id}}">
                    {{value.libelle}}
                </label>
            </div>
        {%  endfor %}
    </div>
</div>
{% endmacro %}